services:
  fake-gcs-server:
    image: fsouza/fake-gcs-server:latest
    ports:
      - 4443:4443
    networks:
      - discovery-network
    # command: ["-scheme", "http", "-port", "4443", "-public-host", "fake-gcs-server"]
  mongo:
    attach: false
    image: mongo:latest
    ports:
      - 27017:27017
    networks:
      - discovery-network
    volumes:
      - mongo-data:/data/db

  backend:
    build:
      context: .
      dockerfile: ./apps/backend/Dockerfile.dev
    volumes:
      - type: bind
        source: ./apps/backend
        target: /app/apps/backend
    environment:
      NODE_ENV: development
      DB_HOST: mongo
      DB_PORT: 27017
      DB_NAME: music-discovery-app-dev
      PORT: 3001
      CLIENT_URL: http://localhost:3000
    ports:
      - 3001:3001
    networks:
      - discovery-network
    depends_on:
      - mongo
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3001/api/v1/health"]
      interval: 10s
      timeout: 30s
      retries: 5
      start_period: 30s
    secrets:
      - SESSION_SECRET

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend.dev
    volumes:
      - type: bind
        source: ./apps/frontend
        target: /app/apps/frontend
    environment:
      NODE_ENV: development
    ports:
      - 3000:3000
    networks:
      - discovery-network
    depends_on:
      - backend
secrets:
  SESSION_SECRET:
    file: ./secrets/SESSION_SECRET.txt

networks: # allow services to talk to each other while providing isolation from other docker container, running on the same host
  discovery-network:
    driver: bridge

volumes: # enable persistence of database data across container restart
  mongo-data:
    driver: local
