@import "tailwindcss";
@source "../../../components/";

@layer base {
  body {
    background-color: black;
    color: white;
  }
  a {
    text-decoration: underline;
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
}

.marquee-container {
  width: 100%;
  overflow: hidden; /* Hides content outside the container */
  white-space: nowrap; /* Prevents text from wrapping */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

.marquee-content {
  display: inline-block; /* Allows content to be on a single line */
  animation: scroll-left 10s linear infinite; /* Applies the animation */
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%); /* Starts off-screen to the right */
  }
  100% {
    transform: translateX(-100%); /* Moves off-screen to the left */
  }
}
