@import "tailwindcss";
@source "../../../components/";

@layer base {
  body {
    background-color: black;
    color: white;
  }
  a {
    text-decoration: underline;
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
}
