@import "tailwindcss";
@source "../../../components/";

@layer base {
  /* body {
    background-color: black;
    color: white;
  }
  a {
    text-decoration: underline;
    color: white;
    &:hover {
      text-decoration: none;
    }
  } */
  input[type="text"],
  input[type="password"],
  input[type="email"],
  textarea {
    background-color: #1a1a1a;
    color: white;
    border: 1px solid #333;
    padding: 0.5rem;
    border-radius: 0.25rem;
    width: 100%;
    box-sizing: border-box;
  }
}

.marquee-container {
  width: 100%;
  overflow: hidden; /* Hides content outside the container */
  white-space: nowrap; /* Prevents text from wrapping */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

.marquee-content {
  display: inline-block; /* Allows content to be on a single line */
  animation: scroll-left 15s linear infinite; /* Applies the animation */
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%); /* Starts off-screen to the right */
  }
  100% {
    transform: translateX(-100%); /* Moves off-screen to the left */
  }
}
